{% extends "base.html" %}
{%block style%}
<style>
    table, th, td, tr {
        border: 1px solid black;
        border-collapse: collapse;
}

</style>
{%endblock%}
{% block content %}
<h3>Books Table <a href="{% url 'books:books_create'%}" class="btn btn-outline-primary" style="margin-right:0">create</a></h3>
<table class="table">
  <thead class="table-light">
      <tr>
        <th>SlNo.</th>
        <th>Name</th>
        <th>Author</th>
        <th>Control</th>
    </tr>
  </thead>
  <tbody>
     {%for item in object_list%}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.author}}</td>
        <td><a href="{% url 'books:books_update' pk=item.id%}" class="btn btn-outline-info">Update</a>
            <a href="{% url 'books:books_delete' pk=item.id%}" class="btn btn-outline-danger">Delete</a></td>
    </tr>

    {%endfor%}
  </tbody>
</table>
{% endblock %}